{% extends 'layout.html' %}
{% block body %}
<div class="container">
    <br>
    <h2>Historial de reservas</h2>
    <br>
    <table class="table table-striped">
        <thead>
          <tr>
            <!-- <th scope="col">ID</th> -->
            <th scope="col">Ciudad</th>
            <th scope="col">Direccion</th>
            <th scope="col"># Habitaciones</th>
            <th scope="col">Valor por noche</th>
            <th scope="col">Fecha Ingreso</th>
            <th scope="col">Fecha salida</th>
            <th scope="col">Valor a pagar</th>
          </tr>
        </thead>
        <tbody>
          {% for property in propertyc %}
            <tr>
                <!-- <th scope="row">{{property._id}}</th> -->
                <td>{{property.cityP}}</td>
                <td>{{property.adressP}}</td>
                <td>{{property.roomNumber}}</td>
                <td>{{property.priceDay}}</td>
                <td>{{property.dateIni}}</td>
                <td>{{property.dateEnd}}</td>
                <td>{{property.price}}</td>
            </tr>
          {% endfor %} 
        </tbody>
    </table>
</div>
{% endblock %} 
        <!-- <form enctype="multipart/form-data" class="text-left" method="POST" action = "{{url_for('ReservePropertyById',id=property._id)}}" onsubmit="return validateDate();" >
            <div class="login-form-main-message"></div>
                <div class="main-login-form">
                    <div class="login-group">
                        <h2>Gestion de reserva</h2>
                        <hr>
                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                                <label for="countryP" class="col-form-label">Pais:</label>
                            </div>
                            <div class="col-auto">
                                <input type="text" class="form-control" value="{{property.countryP}}" id="countryP" name="countryP" placeholder="País" disabled>
                            </div>
                            <hr>
                        </div>
                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                                <label for="cityP" class="col-form-label">Ciudad:</label>
                            </div>
                            <div class="col-auto">
                                <input type="text" class="form-control" id="cityP" value="{{property.cityP}}" name="cityP" placeholder="Ciudad" disabled>
                            </div>
                            <hr>
                        </div> 
                        
                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                                <label for="adressP" class="col-form-label">Dirección:</label>
                            </div>
                            <div class="col-auto">
                                <input type="text" class="form-control" value="{{property.adressP}}" id="adressP" name="adressP" placeholder="Dirección" disabled>
                            </div>
                            <hr>
                        </div>
                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                                 <label for="ubication" class="col-form-label">Google Maps:</label>
                            </div>
                            <div class="col-auto">
                                <input type="text" class="form-control" value="{{property.ubication}}" id="ubication" name="ubication" placeholder="Ubicación en Google Maps" disabled>
                            </div>
                            <hr>
                        </div> 
                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                                <label for="roomNumber" class="col-form-label">Nro de habitaciones:</label>
                            </div>
                            <div class="col-auto">
                                <input type="number" class="form-control" value="{{property.roomNumber}}" id="roomNumber" name="roomNumber" placeholder="Numero de habitaciones" disabled>
                            </div>  
                            <hr>  
                        </div>

                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                                <label for="priceDay" class="col-form-label">Valor por noche:</label>
                            </div>
                            <div class="col-auto">
                                 <input type="number" class="form-control" value="{{property.priceDay}}" id="priceDay" name="priceDay" placeholder="Valor por noche" disabled>
                            </div>
                            <hr>
                        </div>
                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                                <label for="state" class="col-form-label">Disponibilidad:</label>
                            </div>
                            <div class="col-auto">
                                <input type="number" class="form-control" value="{{property.state}}" id="state" name="state" placeholder="Disponibilidad" disabled>
                            </div>
                            <hr>
                        </div>
                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                                <label class="form-control-label">Fecha Inicial:</label>
                            </div>
                            <div class="col-auto">
                                <input class="form-control" type="date" id="dateIni" name="dateIni">
                            </div>
                            <hr>
                        </div>
                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                                <label class="form-control-label">Fecha Final:</label>
                            </div>
                            <div class="col-auto">
                                <input class="form-control" type="date" id="dateEnd" name="dateEnd">
                            </div>
                            
                        </div>
                    </div>
                    
                  </div>
                  <br>
                  <button type="submit" class="btn btn-primary">Cotizar</button>
              </form> -->
            
    
